@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html
{
    background-color: hsl(217, 54%, 11%);
}
.container
{
    
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    max-width: 375px;
}    
.card
{
    background-color: hsl(216, 50%, 16%);    
    border-radius: 15px;
    padding: 15px 0px 0px 15px;
    box-shadow: 30px 30px 100px black;
    margin: auto;

}
.nft
{
    border-radius: 15px;
    width: 90%;
    height: auto;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
}
.text
{
    margin-left: 15px;
    font-family: 'Outfit', sans-serif;
    color: white;
    text-align: left;
}
.nft-title
{
    font-size: 18px;
    font-weight: 600;
}
.nft-description
{
    font-size: 18px;
    padding-right: 10px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-right: 30px;
}
.eth
{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
}
.nft-cost
{
    color:hsl(178, 100%, 50%);
    display: inline-block;
    margin-right: 130px;
}
.clock
{
    display: inline-block;
    
    padding-bottom: 3px;
    vertical-align: middle;
}
.nft-days
{
    display: inline-block; 
    text-align: right;
    color: hsl(215, 51%, 70%);
}
.divider
{
    margin: 10px -10px 10px 0px;
    background-color:  hsl(215, 32%, 27%);
    height: 1px;
    border: none;
    width: 93%;
    
}
.avatar
{
    margin: auto;
    width: 35px;
    border: 1px solid;
    border-radius: 25px;
    border-color: hsl(0, 0%, 100%);
    vertical-align: middle;
}
.nft-creator
{
    display: inline-block;
    color: hsl(215, 51%, 70%);
    padding-left: 10px;
    padding-bottom: 20px;
}
.name
{
    font-weight: 300;
    color: hsl(0, 0%, 100%) !important;
}
.attribution 
{
    color: hsl(0, 0%, 100%);
    font-size: 12px; 
    text-align: center;
}
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}