@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html
{
    background-color: hsl(217, 54%, 11%);
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
}
.container
{
    max-width: 23.438rem;
}
.card
{
    background-color: hsl(216, 50%, 16%);
    border-radius: .938rem;
    padding: .938rem 0rem 0rem .938rem;
    box-shadow: .625rem .625rem 6.25rem black;
    margin: auto;
}

.nft
{
    border-radius: .938rem;
    width: 90%;
    height: auto;
    margin-top: .313rem;
    margin-left: .625rem;
    margin-right: .313rem;
    z-index: 1;
}

.imgcontainer
{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: auto;
    width: auto;

}
.imgcontainer img
{
    opacity: 0;
}
.imgcontainer:hover img
{
   
    opacity: 1;
}
.color
{
    position: absolute;
    top: -8.35rem;
    left: -8.6rem;
    height: 20.3rem;
    width: 20.3rem;
    border-radius: .938rem;
}
.color:hover
{
    background-color:hsl(178, 100%, 50%);
    opacity: .2;
}

.text
{
    margin-left: .938rem;
    font-family: 'Outfit', sans-serif;
    color: white;
    text-align: left;
}
.nft-title
{
    font-size: 1.125rem;
    font-weight: 600;
}
.nft-title:hover
{
    color:hsl(178, 100%, 50%);
}
.nft-description
{
    font-size: 1.125rem;
    padding-right: .625rem;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-right: 1.875rem;
}
.eth
{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: .313rem;
}
.nft-cost
{
    color:hsl(178, 100%, 50%);
    display: inline-block;
    margin-right: 8.125rem;
}
.clock
{
    display: inline-block;

    padding-bottom: 0.1875rem;
    vertical-align: middle;
}
.nft-days
{
    display: inline-block;
    text-align: right;
    color: hsl(215, 51%, 70%);
}
.divider
{
    margin: 0.625rem -0.625rem 0.625rem 0rem;
    background-color:  hsl(215, 32%, 27%);
    height: .0625rem;
    border: none;
    width: 93%;

}
.avatar
{
    margin: auto;
    width: 2.1875rem;
    border: 1px solid;
    border-radius: 1.5625rem;
    border-color: hsl(0, 0%, 100%);
    vertical-align: middle;
}
.nft-creator
{
    display: inline-block;
    color: hsl(215, 51%, 70%);
    padding-left: .625rem;
    padding-bottom: 1.25rem;
}
.name
{
    font-weight: 300;
    color: hsl(0, 0%, 100%);
}
.name:hover
{
  color: hsl(178, 100%, 50%);
}
.attribution
{
    padding-top: 4rem;
    color: hsl(0, 0%, 100%);
    font-size: .75rem;
    text-align: center;
}
.attribution a
{
    color: hsl(228, 45%, 44%);
}
