@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html
{
    background-color: hsl(217, 54%, 11%);
}
.container
{
    
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 360px;
}    
.card
{
    background-color: hsl(216, 50%, 16%);    
    border-radius: 15px;
    padding: 15px 0px 0px 15px;
    margin: auto;

}
.nft
{
    border-radius: 15px;
    width: 330px;
    height: auto;
    margin: auto;
}
.text
{

    font-family: 'Outfit', sans-serif;
    color: white;
    text-align: left;
}
.nft-title
{
    font-size: 18px;
    font-weight: 600;
}
.nft-description
{
    padding-right: 10px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}
.nft-cost
{
    color:hsl(178, 100%, 50%);
}
.nft-days
{
    color: hsl(215, 51%, 70%);
}

.divider
{
    background-color:  hsl(215, 32%, 27%);
    height: 1px;
    border: none;
}
.avatar
{
    margin: auto;
    width: 35px;
    border: 1px solid;
    border-radius: 25px;
    border-color: hsl(0, 0%, 100%);
}
.nft-creator
{
    color: hsl(215, 51%, 70%);
}
.name
{
    color: hsl(0, 0%, 100%) !important;
}
.attribution 
{
    color: hsl(0, 0%, 100%);
    font-size: 11px; 
    text-align: center;
}
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}